@import "./utils/variables.css";
@import "./base/base.css";
@import "./components/sidebar.css";
@import "./components/customers.css";

.container {
  width: 1440px;
  padding-left: 330px;
  padding-right: 95px;
  margin: 0 auto;
}
