@import "./utils/variables.css";
@import "./base/base.css";
@import "./components/sidebar.css";
@import "./components/customers.css";

.container {
  width: 375px;
  padding: 0 12px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  height: 100px;
  z-index: 1000;
  padding: 20px 25px;
}

.header-btn {
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  height: 30px;
  width: 30px;
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 330px;
    padding-right: 95px;
  }

  .header {
    display: none;
  }
}
