.sidebar {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  opacity: 0;
  height: 0px;
  visibility: hidden;
  transition: opacity 0.2s var(--cubic);
}

.sidebar__wrapper {
  background-color: var(--white-main);
  width: 306px;
  height: 100%;
  padding: 36px 28px 76px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.sidebar.is-open {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.sidebar__btn-close {
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 20px;
}

.sidebar__icon-close {
  width: 20px;
  height: 20px;
  display: block;
  fill: var(--black-main);
}

.sidebar__logo-wrap {
  display: flex;
  align-items: center;
  height: 39px;
  width: fit-content;
  margin-bottom: 64px;
  cursor: pointer;
}

.sidebar__logo {
  width: 37px;
  height: 37px;
}

.sidebar__logo-text {
  font-size: 26px;
  letter-spacing: 0.01em;
  color: var(--black-main);
  margin-left: 8px;
  font-weight: 600;
}

.sidebar__logo-span {
  font-size: 10px;
  letter-spacing: -0.01em;
  color: var(--gray-second);
  font-weight: 500;
}

.sidebar__list {
  width: 250px;
  gap: 2px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 597px;
}

.sidebar__item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 46px;
  padding: 11px 8px 8px 11px;
  gap: 14px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.1s var(--cubic);
}

.active-bar {
  background-color: var(--blue-main);
}

.sidebar__icon {
  width: 24px;
  height: 24px;
  fill: var(--gray-main);
  transition: fill 0.1s var(--cubic);
}

.sidebar__item.active-bar .sidebar__icon {
  fill: var(--white-main);
}

.sidebar__icon-triangle {
  width: 16px;
  height: 16px;
  stroke: var(--gray-main);
  position: absolute;
  right: 8px;
  top: 16px;
  transition: stroke 0.1s var(--cubic);
}

.sidebar__item.active-bar .sidebar__icon-triangle {
  stroke: var(--white-main);
}

.sidebar__text {
  font-size: 14px;
  letter-spacing: -0.01em;
  color: var(--gray-main);
  font-weight: 500;
}

.sidebar__item.active-bar .sidebar__text {
  transition: color 0.1s var(--cubic);
  color: var(--white-main);
}

.sidebar__bottom {
  display: flex;
  gap: 12px;
  align-items: center;
}

.sidebar__bottom-img {
  width: 42px;
  height: 42px;
}

.sidebar__bottom-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sidebar__bottom-name {
  font-size: 14px;
  letter-spacing: 0.01em;
  font-weight: 500;
  color: var(--black-main);
}

.sidebar__bottom-role {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--gray-third);
}

@media screen and (min-width: 1440px) {
  .sidebar {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  .sidebar__btn-close {
    display: none;
  }

  .sidebar__list {
    margin-bottom: 597px;
  }
}
