.container {
  width: 375px;
  padding: 0 24px;
  margin: 0 auto;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 330px;
    padding-right: 95px;
  }
}
